:root{
    --nav-width: 1024px;
    --article-width: 650px;
}

body {
    font-size: 1.1rem;
    line-height: 1.6;
    word-break:break-word;
    margin: 0;
}

h1,h2,h3,h4,h5,h6{
    line-height:1.2
}
h1,h2,h3,h4,h5,h6,p{
    margin-top:0;
    margin-bottom:0
}

.post-content h3,.post-content h4,.post-content h5,.post-content h6{
    margin:24px 0 16px
}
.post-content h1{
    margin:28px auto 20px;
    font-size:28px
}
.post-content h2{
    margin:24px auto 16px;
    font-size:24px
}
.post-content h3{
    font-size:18px
}
.post-content h4{
    font-size:16px
}
.post-content h5{
    font-size:14px
}
.post-content h6{
    font-size:12px
}
 